{% load static %}
<div class="footer">
    <div class="footer_holder">
        <div class="copyright">
            <span class = "copy">Copyright</span>
            <div class="social_holder">
                <a href="" class = "social"><img src="{% static "img/FB.png" %}" alt="Facebook logo"></a>
                <a href="" class = "social"><img src="{% static "img/IN.png" %}" alt="LinkedIn logo"></a>
                <a href="" class = "social"><img src="{% static "img/VK.png" %}" alt="VK logo"></a>
            </div>
        </div>
    </div>
</div>