{% load static %}
<div class="menu_wrapper">
    <header class="menu">
        <img src="{% static "img/am_logo.png" %}" class="logo">
        <ul class="menu_holder">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">Почему мы</a></li>
            <li><a href="{% url 'services' %}">Услуги</a></li>
            <li><a href="{% url 'projects' %}">Наши работы</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
            <li><a href="{% url 'account:index' %}">Личный кабинет</a></li>
        </ul>
    </header>
</div>
